@mixin inline-box($border-color: $light, $background-color: lighten($border-color, 50%), $text-color: color-contrast($background-color)) {
    display: inline-block;
    padding: .25em .5em;
    box-shadow: $box-shadow-sm, inset 0 0 0 2px $white;
    background-color: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: 1px solid $border-color;
}
