includes:
  - phpstan-baseline.neon
rules:
  - Symplify\PHPStanRules\Rules\AnnotateRegexClassConstWithRegexLinkRule
  - Symplify\PHPStanRules\Rules\RegexSuffixInRegexConstantRule
parameters:
  phpVersion: 80100
  level: max
  strictRules:
    allRules: false
    strictCalls: true
    requireParentConstructorCall: true
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  paths:
    - packages/typo3-docs-theme/src
    - packages/typo3-guides-extension/src
    - tools
  scanFiles:
    - vendor/phpdocumentor/guides/src/DependencyInjection/GuidesExtension.php
  tmpDir: .cache/phpstan/
