includes:
  - phpstan-baseline.neon
parameters:
  phpVersion: 80200
  level: max
  strictRules:
    allRules: false
    strictFunctionCalls: true
    requireParentConstructorCall: true
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  paths:
    - packages/typo3-docs-theme/src
    - packages/typo3-guides-cli/src
    - packages/typo3-guides-extension/src
    - packages/typo3-version-handling/src
    - tools
  scanFiles:
    - vendor/phpdocumentor/guides/src/DependencyInjection/GuidesExtension.php
  tmpDir: .cache/phpstan/
