includes:
  - phpstan-baseline.neon
parameters:
  phpVersion: 80100
  level: max
  strictRules:
    allRules: false
    strictCalls: true
    requireParentConstructorCall: true
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  paths:
    - packages/typo3-docs-theme/src
    - packages/typo3-guides-extension/src
    - packages/php-domain/src
    - packages/php-domain/tests
  tmpDir: .cache/phpstan/
