.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-topbar {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

/**
 * Header
 */

.page-header {
    position: relative;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
    background: #ffffff;
    transition: box-shadow 0.2s ease;

    &.scrolled {
        box-shadow: $box-shadow-sm;

        .page-header-inner {
            padding-top: $spacer-responsive;
            padding-bottom: $spacer-responsive;
        }
    }
}

.page-header-inner {
    max-width: 100%;
    width: map-get($container-max-widths, 'xl');
    margin: 0 auto;
    padding: $spacer-responsive calc(#{$grid-gutter-width} / 2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: padding 0.2s ease;
    @include media-breakpoint-up(lg) {
        padding-top: calc(#{$spacer-responsive} * 2);
        padding-bottom: calc(#{$spacer-responsive} * 2);
    }
    @media (max-width: 992px) {
        gap: 1rem;
    }
    @include media-breakpoint-up(xxl) {
        width: map-get($container-max-widths, 'xxl');
    }
}

.navbar-brand {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: -18px;
    text-decoration: none;
}

.navbar-brand-text {
    gap: 0.4rem;
    display: flex;
    align-items: flex-end;
}

.navbar-brand-logo {
    display: block;
    width: 29px;
    height: 29px;
}

.navbar-brand-name {
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: -4px;
    color: $secondary;
}

.menu-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.4em;
    height: 100%;
}

/**
 * Main
 */

.page-main {
    display: flex;
    flex-grow: 1;
}

.page-main-inner {
    display: flex;
    flex-flow: wrap column;
    max-width: 100%;
    width: map-get($container-max-widths, 'xl');
    padding: 0 calc(#{$grid-gutter-width} / 2);
    margin: 0 auto;
    position: relative;
    @include media-breakpoint-up(lg) {
        flex-flow: nowrap row;
    }
    @include media-breakpoint-up(xxl) {
        width: map-get($container-max-widths, 'xxl');
    }
}

.page-main-navigation {
    flex-grow: 0;
    background-color: #ffffff;
    z-index: 1;
    margin-left: calc(#{$grid-gutter-width} / 2 * -1);
    margin-right: calc(#{$grid-gutter-width} / 2 * -1);

    &:has(#toc-collapse.show) {
        padding: calc(#{$grid-gutter-width} / 2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    @include media-breakpoint-up(lg) {
        padding: ($spacer * 2) 0;
        flex-shrink: 0;
        width: 15rem;
        margin: 0;
        height: calc(100vh - 114px);
        margin-right: $grid-gutter-width;
        padding-right: calc(#{$grid-gutter-width} / 2);
        border-bottom: none;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        position: sticky;
        top: 114px;
        overflow: auto;
    }
}

.page-main-content {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);
    width: 100%;
    min-width: 0;
    flex-grow: 1;
}

/**
* Sections
*/

section {
    @include clearfix;
    margin-top: ($spacer * 2.5);
    margin-bottom: ($spacer * 2.5);

    &.confval-section {
        margin-top: 0;
        margin-bottom: 0;
    }
}
