@mixin version-changed($border-color: $info, $icon-color: darken($border-color, 15%), $background-color: lighten($border-color, 40%), $text-color: color-contrast($background-color)) {
    border-left: 5px solid $border-color;
    padding-left: 1em;
    .versionmodified {
        .versionicon {
            color: $icon-color;
            padding-right: .5em;
        }
        color: $text-color;
        font-weight: bold;
        margin-bottom: 0.5em;
        padding: 0 2px;
    }
}
/**
 * Version Added, Changed, Deprecated
 */
.deprecated {
    @include version-changed($gray-700);
}
.versionadded {
    @include version-changed($success);
}
.versionchanged {
    @include version-changed($info);
}

.admonition {
    .deprecated, .versionadded, .versionchanged {
        border: none;
        padding: 0;
    }
}
