body {
    --bs-body-font-size: 1.1rem;
    --bs-body-color: #{$gray-900};
    --bs-table-color:  #{$gray-900};
    --bs-emphasis-color:  #{$gray-900};
}

a {
    color:inherit;
    text-underline-offset: 25%;
    &:hover {
        text-decoration-thickness: 2px;
    }
}

li {
    p:last-of-type {
        margin-bottom: 0;
    }
}

article {
    a:not([class*="btn"]) {
        @extend .text-break;
        text-decoration: underline;
        color: $gray-800;
        &:hover {
            color: $black;
            text-decoration-thickness: 2px;
        }
    }
    li::marker {
        color: $orange;
    }
    ol li::marker {
        color: $gray-800;
    }
}
*:focus-visible {
    @include focus();
}
