a {
    color:inherit;
    text-underline-offset: 25%;
    &:hover {
        text-decoration-thickness: 2px;
    }
}
article {
    a:not([class*="btn"]) {
        @extend .text-break;
        text-decoration: underline;
        color: $gray-900;
    }
    p, li {
        color: $gray-800;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    li::marker {
        color: $orange;
    }
    ol li::marker {
        color: $gray-800;
    }
    /**
     * Headlines todo: why only h3 has an underline?
     */
    h3 {
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}
*:focus-visible {
    @include focus();
}
