@import '_highlightjs_github';

:root {
    --code-block-background-color: #f7f7f7;
    --code-block-background-border-color: #e6e6e6;
    --code-block-linenos-text-color: #656e77;
    --code-block-emphasize-background-color: #ffc;
}

.code-block {
    background: var(--code-block-background-color);
    border: 1px solid var(--code-block-background-border-color);
    border-radius: .2rem;
    font-size: 92%;
    line-height: 125%;
    margin-bottom: 1rem;
    overflow-x: auto;
    padding: .75rem;

    & [data-line-number]::before {
        color: var(--code-block-linenos-text-color);
        content: attr(data-line-number);
        display: inline-block;
        margin-right: 1em;
        text-align: right;
        width: 2ch;
    }

    & [data-emphasize-line] {
        background: var(--code-block-emphasize-background-color);
    }
}
