// Fonts
@import 'fonts/fontawesome';
@import 'fonts/webfonts';

// Functions
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';

// Variables
@import 'variables';

// Dependencies
@import '../../node_modules/@fortawesome/fontawesome-free/scss/functions';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/variables';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/mixins';
@import '../../node_modules/bootstrap/scss/bootstrap';

// Mixings
@import 'mixins/container';
@import 'mixins/focus';
@import 'mixins/inline_styles';

// tweak bootstrap styles
@import 'text';

// components
@import 'components/accordion';
@import 'components/button';
@import 'components/card';
@import 'components/code';
@import 'components/directoryTree';
@import 'components/frame';
@import 'components/images';
@import 'components/math';
@import 'components/menu';
@import 'components/pagination';
@import 'components/panel';
@import 'components/permalink';
@import 'components/rst';
@import 'components/table';
@import 'components/tabs';
@import 'components/textroles';

// Additional classes that can be applied by .. rst-class::
@import 'components/customClasses/bignums';
@import 'components/customClasses/horizbuttons';

// Styles for special directives
@import 'components/directives/admonition';
@import 'components/directives/confval.scss';
@import 'components/directives/fieldlist';
@import 'components/directives/phpdomain';
@import 'components/directives/sidebar';
@import 'components/directives/versionchanged';

// Page structure
@import 'layout/breadcrumb';
@import 'layout/footer';
@import 'layout/logo';
@import 'layout/navigation/main_navigation';
@import 'layout/navigation/version_switcher';
@import 'layout/search';
@import 'layout/structure';

// misc
@import 'utilities';

