.btn {
    display: inline-flex;
    align-items: center;
    text-align: left;
    &:focus-visible {
        // Override the default btn styles from bootstrap as they are poorly visible
        @include focus();
        outline: auto;
        outline-color: $secondary-dark;
    }
}
.btn-icon {
    &:first-child {
        margin-right: calc(#{$spacer} / 2);
    }
    &:last-child {
        margin-left: calc(#{$spacer} / 2);
    }
}

.btn-primary {
    @include button-variant($primary, $primary, $white, shade-color($primary, $btn-hover-bg-shade-amount), shade-color($primary, $btn-hover-bg-shade-amount), $white);
}
