//
// _card.scss
//
.card-group {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    .card {
        box-shadow: 2px 1px 6px rgba(32,33,36,.28);
	.card-img, .card-img-top {
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	}
	.card-img:first-child, .card-img-top:first-child {
	    border-top-left-radius: var(--bs-card-inner-border-radius);
	    border-top-right-radius: var(--bs-card-inner-border-radius);
	}
	.card-body {
                *:last-child {
                    margin-bottom: 0;
                }
        }
    }
}
