@import 'highlightjs_github';

code {
    color: $gray-900;
    font-size: 85%;
}
/*
 * The class "code-block" is used for ".. code-block::" directives
 */
.code-block {
    margin-bottom: 0;
    padding: .75rem;

    & [data-line-number]::before {
        color: $gray-600;
        content: attr(data-line-number);
        display: inline-block;
        margin-right: 1em;
        text-align: right;
        width: 2ch;
    }

    & [data-emphasize-line] {
        background:$yellow-100;
    }
}

.code-block-caption {
    @extend .text-break;
    @extend .figure-caption;
    hyphens: auto;
    padding: .4rem .6rem;
    border: 1px solid $gray-300;
    border-bottom: none;
    border-radius: .2rem .2rem 0 0;
}

.code-block-caption ~ .code-block-wrapper {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.code-block-wrapper {
    background: $gray-100;
    border: 1px solid $gray-300;
    border-radius: .2rem;
    display: flex;
    font-size: 92%;
    justify-content: space-between;
    line-height: 125%;
    margin-bottom: 1rem;
    position: relative;
}

.code-block-copy, a.code-block-edit {
    background: none;
    border: none;
    padding: .75rem;
    text-decoration: none!important;

    .icon  {
        opacity: .5;
        transition: opacity .3s;

        &:hover {
            opacity: 1;
        }
    }

    .fa-check::before {
        color: $green-600;
    }
}

.code-block-check-tooltip {
    background: $gray-900;
    border-radius: .2rem;
    color: $white;
    font-size: 80%;
    padding: 2px 5px;
    position: absolute;
    right: 40px;
    top: 8px;

    &::after {
        border: 10px solid;
        border-color: transparent transparent transparent $gray-900;
        content: "";
        position: absolute;
    }
}

.code-block-hide {
    display: none;
}

/**
 * The class "code-inline" is used for inline textroles like ":file:", ":code:",
 * ":literal:" or ":php:"
 */
.code-inline {
    font-family: $font-family-monospace;
    border-radius: $border-radius;
    border: 2px solid $white;
    background: $gray-100;
    padding: 0.25em 0.5em;
    line-height: 27px;
}

.code-inline-long {
    @extend .text-break;
}

/** uses "popover" for all code roles that have tooltips **/
.code-inline[aria-description] {
    a {
        text-decoration: none;
    }

}

/** popover styling **/
.popover{
    display: flex;
    flex-direction: row;
    max-width: 30vw;
    overflow-wrap: break-word;
    word-wrap: anywhere;
}
.popover-header{
    padding: var(--bs-popover-body-padding-y) var(--bs-popover-body-padding-x);
    border-right: var(--bs-popover-border-width) solid var(--bs-popover-border-color);
    border-top-left-radius: var(--bs-popover-inner-border-radius);
    border-bottom-left-radius: var(--bs-popover-inner-border-radius);
    border-top-right-radius: 0;
    border-bottom: 0;
    word-wrap: break-word;
}

@media only screen and (max-width: 576px) {
    .popover{
        max-width: 90vw;
    }
}
@media only screen and (max-width: 768px) {
    .popover{
        max-width: 70vw;
    }
}
@media only screen and (max-width: 992px) {
    .popover{
        max-width: 60vw;
    }
}
