@import 'highlightjs_github';

:root {
    --code-block-background-color: #f7f7f7;
    --code-block-background-border-color: #e6e6e6;
    --code-block-linenos-text-color: #656e77;
    --code-block-emphasize-background-color: #ffc;
}

/*
 * The class "code-block" is used for ".. code-block::" directives
 */
.code-block {
    background: var(--code-block-background-color);
    border: 1px solid var(--code-block-background-border-color);
    border-radius: .2rem;
    font-size: 92%;
    line-height: 125%;
    margin-bottom: 1rem;
    overflow-x: auto;
    padding: .75rem;

    & [data-line-number]::before {
        color: var(--code-block-linenos-text-color);
        content: attr(data-line-number);
        display: inline-block;
        margin-right: 1em;
        text-align: right;
        width: 2ch;
    }

    & [data-emphasize-line] {
        background: var(--code-block-emphasize-background-color);
    }
}

.code-block-wrapper {
    position: relative;
}

.code-block-copy {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

.code-block-copy-icon {
    fill: none;
    opacity: .5;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    transition: opacity .3s;

    &:hover {
        opacity: 1;
    }
}

/**
 * The class "code-inline" is used for inline textroles like ":file:", ":code:",
 * ":literal:" or ":php:"
 */
.code-inline {
    font-family: $font-family-monospace;
    font-size: 75%;
    border-radius: $border-radius;
    border: 1px solid #fff;

    &.bash {
        color: $code-color-bash;
    }

    &.css {
        color: $code-color-css;
    }

    &.file {
        color: $code-color-file;
    }

    &.html {
        color: $code-color-html;
    }

    &.js {
        color: $code-color-js;
    }

    &.method {
        color: $code-color-method;
    }

    &.php {
        color: $code-color-php;
    }

    &.rst {
        color: $code-color-rst;
    }

    &.py {
        color: $code-color-py;
    }

    &.shell {
        color: $code-color-shell;
    }

    &.sql {
        color: $code-color-sql;
    }

    &.typoscript {
        color: $code-color-typoscript;
    }

    &.xml {
        color: $code-color-xml;
    }

    &.yaml {
        color: $code-color-yaml;
    }
}
