@import 'highlightjs_github';

:root {
    --code-block-background-color: #f7f7f7;
    --code-block-background-border-color: #e6e6e6;
    --code-block-copy-check-color: #1a7f37;
    --code-block-emphasize-background-color: #ffc;
    --code-block-linenos-text-color: #656e77;
    --code-block-tooltip-background-color: #333;
    --code-block-tooltip-text-color: #fff;
}

/*
 * The class "code-block" is used for ".. code-block::" directives
 */
.code-block {
    margin-bottom: 0;
    padding: .75rem;

    & [data-line-number]::before {
        color: var(--code-block-linenos-text-color);
        content: attr(data-line-number);
        display: inline-block;
        margin-right: 1em;
        text-align: right;
        width: 2ch;
    }

    & [data-emphasize-line] {
        background: var(--code-block-emphasize-background-color);
    }
}

.code-block-wrapper {
    background: var(--code-block-background-color);
    border: 1px solid var(--code-block-background-border-color);
    border-radius: .2rem;
    display: flex;
    font-size: 92%;
    justify-content: space-between;
    line-height: 125%;
    margin-bottom: 1rem;
    position: relative;
}

.code-block-copy {
    background: none;
    border: none;
    padding: .75rem;

    .fa-copy {
        opacity: .5;
        transition: opacity .3s;

        &:hover {
            opacity: 1;
        }
    }

    .fa-check::before {
        color: var(--code-block-copy-check-color);
    }
}

.code-block-check-tooltip {
    background: var(--code-block-tooltip-background-color);
    border-radius: .2rem;
    color: var(--code-block-tooltip-text-color);
    font-size: 80%;
    padding: 2px 5px;
    position: absolute;
    right: 40px;
    top: 8px;

    &::after {
        border: 10px solid;
        border-color: transparent transparent transparent var(--code-block-tooltip-background-color);
        content: "";
        position: absolute;
    }
}

.code-block-hide {
    display: none;
}

/**
 * The class "code-inline" is used for inline textroles like ":file:", ":code:",
 * ":literal:" or ":php:"
 */
.code-inline {
    font-family: $font-family-monospace;
    font-size: 90%;
    border-radius: $border-radius;
    border: 1px solid #fff;

    &.bash {
        color: $code-color-bash;
    }

    &.css {
        color: $code-color-css;
    }

    &.file {
        color: $code-color-file;
    }

    &.html {
        color: $code-color-html;
    }

    &.js {
        color: $code-color-js;
    }

    &.method {
        color: $code-color-method;
    }

    &.php {
        color: $code-color-php;
    }

    &.rst {
        color: $code-color-rst;
    }

    &.py {
        color: $code-color-py;
    }

    &.shell {
        color: $code-color-shell;
    }

    &.sql {
        color: $code-color-sql;
    }

    &.typoscript {
        color: $code-color-typoscript;
    }

    &.xml {
        color: $code-color-xml;
    }

    &.yaml {
        color: $code-color-yaml;
    }
}
