article {
    a.headerlink, a.permalink {
        position: relative;
        font-size: .65em;
        visibility: hidden;
        top: -.15em;
        text-decoration: none;
        &:after {
      @include fa-solid.icon(fa.$var-link);
      margin-left: -.35em;
  }
    }
    .headerNoindex {
        position: relative;
        font-size: .65em;
        visibility: hidden;
        top: -.15em;
        text-decoration: none;
    }
    *:hover {
        & > a.headerlink:after, & > a.permalink:after, .headerNoindex {
            visibility: visible;
        }
    }
}
