article {
    a.headerlink, a.permalink {
        position: relative;
        font-size: .65em;
        visibility: hidden;
        top: -.15em;
        text-decoration: none;
        &:after {
      }
    }
    .headerNoindex {
        position: relative;
        font-size: .65em;
        visibility: hidden;
        top: -.15em;
        text-decoration: none;
    }
    *:hover {
        & > a.headerlink, & > a.permalink, .headerNoindex {
            visibility: visible;
        }
    }
}
