.table {
    @extend .table-striped;
    th :last-child,
    td :last-child {
        margin-bottom: 0;
    }
}

.table-responsive {
    table.table {
        margin-bottom: 0;
    }
    margin-bottom: $spacer;
}
