.tabs {
    background: $gray-200;
    padding: 1rem;
}
.tab-content {
    border: none;
    padding: 0.5rem;
}
.nav-tabs {
    border-bottom: none;
    .nav-link {
        color: inherit;
	border-bottom-width: 3px;
	&.active {
	    background: none;
	    border-color: transparent;
	    border-bottom-color: $text-color;
	    color: $text-color;
	}
    }
}
