
@mixin text-role-box {
    @include inline-box;
    box-shadow: none;
    background-color: $gray-100;
    color: $secondary;
    border: 1px solid $gray-400;
}

/**
 * Keyboard Shortcuts, text role :kbd:
 */
kbd {
    @include text-role-box;
}

/**
 * GUI-Label
 */
.guilabel {
    font-size: 75%;
    @include text-role-box;
}
