@import "../../variables";

.admonition {
    border: 4px solid $admonition-border-color-default;
    margin: $spacer 0;
    padding: $spacer;
    border-radius: $border-radius;
    overflow: hidden;

    & :last-child {
        margin-bottom: 0;
    }
}

.admonition-title {
    padding: calc(#{$spacer} / 2) $spacer;
    margin: -$spacer;
    margin-bottom: calc(#{$spacer} / 4);
    color: var(--bs-emphasis-color);
    font-weight: bold;
    font-size: 1.25em;

    &::before {
      @include fa-solid.icon(fa.$var-info-circle);
      margin-right: calc(#{$spacer} / 2);
  }
}

@each $type, $border-color, $icon in $admonition-icons {
    .admonition {
        &.#{$type} {
            @if $border-color {
                border-color: #{$border-color};
            }

            .admonition-title::before {
                content: '#{$icon}';
            }
        }
    }
}
